* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-size: 2.2rem;
}
body {
  font-family: "Arvo",serif;
  background-color: #9CAFAA;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.form {
  background-color: #FBF3D5;
  color: #627254;
  width: 500px;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.input {
  padding: 0.6rem 0.8rem;
  display: inline-block;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.1rem;
  border-radius: 5rem;
  background-color: #DFF5FF;
  color: #BE7B72;
}

input::placeholder{
  color: #BE7B72;
}

img {
  height: 400px;
}

.submit{
  padding: 1rem;
  outline: none;
  border: none;
  background-color: #57606f;
  width: 50%;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
}

.loading {
  width: 80%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.loading span {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border: 3px solid green;
  border-bottom: 0px;
  border-radius: 50%;
  animation: load_ing 1s linear infinite;
}

@keyframes load_ing {
  0%{
    transform: rotate(360deg);
  }
}
